@model IEnumerable<Webshop.Models.Product>
@{
 ViewBag.Title = "Browse";
}
<div id="filter">
	<form method="get" id="nameform">
	<input type="checkbox" >FilterProduct2
	<button type="submit" form="nameform" value="Submit">Apply</button>
	</form>
</div>
 @foreach (var product in Model)
 {
 <h1>
@Html.ActionLink(@product.Title, "Item", new { productId = product.Id})
 </h1>

 <img src="@Url.Content(product.Image )" width="300px" height= "300px" />

 }
 </br>
<p>
 @using (Html.BeginForm()){    
         <p> Title: @Html.TextBox("SearchString") <br />   
         <input type="submit" value="Filter" /></p> 
        } 
</p>