@model IEnumerable<Webshop.Models.Categorie>
@{
    ViewData["Title"] = "Categorie Page";
}
<h2> All ours categories</h2>

@foreach (var categorie in Model)
 {
 <h1>@Html.ActionLink(categorie.Name, "Browse", new { categorieId = categorie.Id}, new  {@class = "home" })</h1>
 }
 </br>
