<div>
<form method="post" enctype="multipart/form-data" asp-controller="Parser" asp-action="PostSwitch" asp-route-id="@ViewBag.listofitems" >
        <div class="col-md-10">
            <h2>Upload hier één of meerdere bestanden</h2>
           <select name="typeOfUploading" asp-items="@(new SelectList(@ViewBag.listofitems ))"></select> 
                 </select> 
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <br/>
            <input type="submit" value="Upload" onclick="myFunction()"/>
        </div>
    </div>
</form>
</div>

<script>
function myFunction() {
    alert("Het bestand is succesvol geüpload")
}
</script>