@model IEnumerable<login2.Models.Product>

@{
 ViewBag.Title = "Browse";
}

 @foreach (var product in Model)
 {
 <h1>
@product.Name
 </h1>
 <h1>
@product.ProductId
 </h1>
 <img src="@Url.Content(product.Image )" width="300px" height= "300px" />

 }
 </br>