@{
    ViewData["Title"] = "Home Page";
}

<div id="Inloggen">
    <FORM METHOD="post" ACTION="bestemming">
    <I>Gebruikersnaam:</I><BR>
    <TEXTAREA NAME="tekstvak_naam" ROWS="1" COLS="20"></TEXTAREA>
    </FORM>

    <BR>
    <BR>

    <FORM METHOD="post" ACTION="bestemming">
    <I>Wachtwoord:</I><BR>
    <TEXTAREA NAME="tekstvak_ww" ROWS="1" COLS="20"></TEXTAREA>
    </FORM>
</div>
    
