@{
    ViewData["Title"] = "Over ons";
}
<h2>@ViewData["Title"]</h2>
<hr/>
<p>Wij zijn een groep studenten van de Hogeschool Rotterdam die voor dit project een webshop moesten maken. 
    Dit hebben <br></br> wij gedaan met behulp van ASP.NET en verschillende andere tools.    
    We hopen dat u van onze website kunt genieten!
    <br></br>
    <br></br>
    Mocht u nog vragen en/of opmerkingen hebben, neem dan gerust contact met ons op via de <A HREF="Contact">contactpagina</A>.
</p>
