@{
    ViewData["Title"] = "Contact";
}
<h2>Contactpagina</h2>
<hr/>


<address>
    <b>Contactgegevens:</b><br />
    Wijnhaven 107<br />
    Rotterdam, 1234AB<br />
    Telefoon:  010193889
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">info@shipped.nl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">info@shipped.nl</a>
</address>

<br> 

<h4>Neem contact met ons op via het onderstaande gedeelte!</h4>

<br>


<div class="alert alert-success" id="popUp">
  <strong>Success!</strong> Uw mail is verzonden. Wij streven ernaar om uw mail binnen 48uur te beantwoorden!;
</div>



 <div class="contactForm">
    <form method="post" asp-controller="Home" asp-action="SendContactMail">
    
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <label for="fname">Voor- en achternaam</label>
    <input type="text" id="name" name="name" placeholder="Bijvoorbeeld: Hans Linzen">

    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 
    <label for="lname">E-Mail </label>
    <input type="text" id="Email" name="email" placeholder="Bijvoorbeeld: yourmail@something.com">

    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    <label for="lname">Onderwerp </label>
    <input type="text" id="Subject" name="subject" placeholder="Bijvoorbeeld: Pakket bezorgtijden">

    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
    <label for="subject">Omschrijving</label>
    <textarea id="subject" name="description" placeholder="Typ hier uw vraag, probleem en of klacht in." style="height:200px"></textarea>

    <input type="submit" value="Verzend">
                            
  </form>
</div> 


<script>
