<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>  
    <script>  
        var LineChartData =  
            {  
                labels: [@Html.Raw(ViewBag.Productname_List)],  
                datasets: [{  
                    label: 'Best',  
                    backgroundColor: "rgba(75,192,192,0.4)",  
                    borderWidth: 2,  
                    data: [@ViewBag.MobileCount_List]  
                }]  
            };  
  
            window.onload = function () {  
                var ctx1 = document.getElementById("Linecanvas").getContext("2d");  
                window.myBar = new Chart(ctx1,  
                    {  
                        type: 'line',  
                        data: LineChartData,  
                        options:  
                            {  
                                title:  
                                {  
                                    display: true,  
                                    text: "ProductWise Sales Count"  
                                },  
                                responsive: true,  
                                maintainAspectRatio: true  
                            }  
                    });  
            }  
    </script>  


    <div style="text-align: center">  
        <canvas id="Linecanvas"></canvas>  
    </div>   

